body {
    background-image: url("/images/recipe/recipe-details-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
}

h1 {
    text-shadow: 1px 1px 0;
    float: none;
    background-color: whitesmoke;
    height: 85px;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

img {
    width: 400px;
    height: 450px
}

#right-container {
    /* margin-left: 430px; */
    margin-right: 20px;
}

#recipe_description strong {
    font-size: small;
    color: black;
}
#product-card{
    font-size: small;
}
#fourth-container{
    height: 0px;
}

.w3-container, .w3-panel {
    padding: 0.01em 16px;
    background-color: cornsilk;
}

.glyphicon {
    color: black;
    /* padding-right: 250px; */
}

.w3-twothird {
    background-color: whitesmoke;
    width: 764px;
    height: 555px;
}

#product-card{
    background-color: rgba(59,243,255,0.39);
    height: 315px;
}
#description {
    font-weight: bolder;
    color: floralwhite;
}

#recipe_description {
    margin-top: 100px;
    margin-left: 420px;
}

#right-container{

    margin-left: 420px;
    margin-top: 95px;
}
#description{
    color: black;
    font-size: 10px;
}

