<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Recipe</title>
    <th:block th:include="~{/fragments/head}"></th:block>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/recipe/add-recipe.css">
    <link rel="stylesheet" href="/css/nav.css">


</head>
<body>
<nav>
    <th:block th:include="~{/fragments/nav-user}">Nav</th:block>
</nav>
<div class="main-block">

    <h1 th:unless="${recipeExistError}">Добави рецепта</h1>
    <h1 th:if="${recipeExistError}" style="color: red">Тази рецепта е добавена вече!</h1>
    <form th:object="${recipeAddBindingModel}" id="form" th:action="@{/recipes/add}" method="POST">

        <div class="info ">

            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>

            <input th:field="*{name}"
                   th:errorclass="bg-danger"
                   id="name"
                   required minlength="2"
                   name="name"
                   placeholder="Име на рецепта"
                   type="text">

            <input th:field="*{products}"
                   id="products"
                   required minlength="2"
                   name="products"
                   placeholder="Продуктите разделени със запетая - [брашно, яйца и др.]"
                   type="text">
            <input th:field="*{cookingTime}"
                   id="cookingTime"
                   required min="1"
                   name="cookingTime"
                   placeholder="Време за готвене /минути/"
                   type="number">
            <input th:field="*{calories}"
                   id="calories"
                   required min="1"
                   name="calories"
                   placeholder="Общо калории за рецепта"
                   type="number">
            <input th:field="*{image}"
                   id="image_recipe"
                   required minlength="1"
                   name="image"
                   placeholder="Постави снимка"
                   type="text">
            <textarea
                    th:field="*{description}"
                    id="recipe_description"
                    required minlength="10"
                    name="description"
                    placeholder="Опиши подробно начина на приготване на рецептата">
            </textarea>

            <select id="typeOfRecipe"
                    name="typeOfRecipe">
                <option selected value="">Изберете типа на ястието!</option>
                <option th:each="t : ${T(health.model.entity.enums.RecipeEnum).values()}"
                        th:object="${t}" th:text="*{name()}" th:value="*{name()}">Starter
                </option>
            </select>
        </div>

        <button id="submit" href="/" class="button">Създай рецепта</button>
    </form>
</div>
<th:block th:include="~{/fragments/footer}"></th:block>

</body>
</html>