<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="footer">
        <span style="float: left; padding-left: 15px">Owner name:
            <strong> Hristo Hadzhiev</strong>
        </span>
        <span >Contact:
            <strong> 0987 654 321</strong>
        </span>
        <span style="padding-left: 250px">Student at:
            <strong> Softuni</strong>
        </span>
        <span style="float: right; padding-right: 15px">Email:
            <a href="/" style="color: dodgerblue">hadzhiev89@softuni.com</a>
        </span>
        <br>
        <small style="font-size: large">&copy; Copyright 2021, Health-Life</small>
    </div>
</th:block>