#user{
  background-image: url('/images/index.jpg');
}
#indexImg{
  width: 100%;
}

#indexImg, #user {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #D3D3D3;
  margin: 0;
  padding: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}

.column {
  padding: 20px;
  float: left;
  width: 50%;
  height: 100%;
  flex: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  text-align: right;
  padding-top: 1cm;
  padding-right: 40px;
  color: #FFF;
  text-shadow: 1px 2px 2px #1C6EA4;
  font-size: 34px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.topnav li {
  float: left;
  margin: 5px;
  padding-left: 25px;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: left;
  padding: 8px 8px;
  text-decoration: none;
}

ul.topnav li:hover a:not(.active) {
  background-color: rgb(221, 218, 218);
  color: #000;
}


ul.topnav li a.active {
  background-color: #D2691E;
  color: white;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {

  ul.topnav,
  ul.topnav {
    position: unset
  }

  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

ul.topnav .dropdown-content {
  display: none;
  position: fixed;
}

ul.topnav .dropdown-content a {
  color: black;
}

ul.topnav .dropdown:hover>.dropdown-content {
  display: block;
}
#carouselExampleIndicators{
  padding-top: 20%;
}


