<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/errors/error-500.css">
<!--  <script src="/js/error-500.js"></script>-->
  <title>Error 500</title>
</head>

<body>
<div class="wrapper">
  <div class="box">
    <h1>500</h1>
    <p>Sorry, it's me, not you.</p>
    <p>&#58;&#40;</p>
    <p><a href="/">Let me try again!</a></p>
  </div>
</div>
</body>
</html>
