<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
    <title>Contact us</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/contact-us.css">

</head>
<body>

<th:block th:include="~{/fragments/nav-user}"></th:block>


<form id="contact-us" th:object="${contactUsBindingModel}" th:action="@{/contactUs}" method="POST" class="decor">

    <div class="form-inner">
        <h1>Contact us</h1>

        <input th:field="*{username}" th:errorclass="bg-danger" type="text" placeholder="Username" name="username">

        <input th:field="*{email}" th:errorclass="bg-danger" type="email" placeholder="Email" name="email">

        <textarea th:field="*{message}" th:errorclass="bg-danger"  placeholder="Message..." rows="5" name="message"></textarea>
        <small th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="text-danger">Incorrect username!</small>

        <input type="submit" class="btn btn-success" style="background-color: green" value="Send message">
    </div>
</form>

<th:block th:include="~{/fragments/footer}"></th:block>

</body>
</html>